on:
    workflow_dispatch:
jobs:
    job_1:
        strategy:
            fail-fast: false
            max-parallel: 3
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node: [14, 16, 18]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}
